/* FASTOR V3.2.1 - CHANGE HOMEPAGE LOOK SLIGHTLY */
.roarlookbook .hotspot {
  background:#d9121f!important;
}
.custom-widget .img-wrapper {
  display:block;
  line-height:0;
}
.advanced-grid.categories-wall > div > div.container:first-child {
  padding:0!important;
}
.categories-wall .category-wall .image img {
  width:100%;
  margin-top:20px;
}