<div class="html">
  {%- if settings.footer_html_heading != '' -%}
  <h4 class="title">{{settings.footer_html_heading}}</h4>
  <div class="strip-line"></div>
  {%- endif -%}
  <div class="clearfix">{{settings.footer_html_custom}}</div>
</div>